:root {
  --max-width: 960px;
  --color: #000;
}

@custom-selector :--onEvent :hover, :active, :focus;

@custom-media --md-up screen and (min-width: 768px);

:root {
  --clearfix: {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.foo {
    max-width: var(--max-width);
  color:var(--color);
}

.bar:--onEvent {
text-decoration: none;

}

@media (--md-up) {
      .baz {
@apply --clearfix;
  }
}